@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/themes/terminus';
@plugin '@tailwindcss/typography';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

.codemirror-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: aqua; */
}

:root {
    --color-yey: #9eff8f;
}