@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/reign';
@import '@skeletonlabs/skeleton/themes/concord';
@import '@skeletonlabs/skeleton/themes/hamlindigo';
@import '@skeletonlabs/skeleton/themes/modern';
@plugin '@tailwindcss/typography';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

.codemirror-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: aqua; */
}

:not(nav) > ul {
	list-style-type: disc;
}

:root {
    --color-yey: #9eff8f;
}

